The following items are required for the course:
-          An updated resume that includes your internship – please submit to me by December 11, 2013.

-          A 1 page proposal – please submit to me by December 11, 2013. (include the amount of credits you are registering for and the number of hours you worked. For more on the proposal, see the guidelines at the link below.)

-          A 2-3 page written report on the project -  please submit to me by December 11, 2013

 
For additional information, please read the guidelines at: http://ceoas.oregonstate.edu/internships/graduate/