Hi Nick,
 
Fantastic. I just copied you on my email to E-campus. You should receive instructions from them shortly regarding registering for Geo 510.
 
The following items are required for the course:
-          An updated resume that includes your internship – please submit to me by December 11, 2013.

-          A 1 page proposal – please submit to me by December 11, 2013. (include the amount of credits you are registering for and the number of hours you worked. For more on the proposal, see the guidelines at the link below.)

-          A 2-3 page written report on the project -  please submit to me by December 11, 2013

 
For additional information, please read the guidelines at: http://ceoas.oregonstate.edu/internships/graduate/
 
Please let me know if you need anything else.
Best, Kuuipo